[package]
name = "elastic-elgamal"
version = "0.1.0"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT OR Apache-2.0"
description = """\
Implementation of ElGamal encryption and related zero-knowledge proofs
with pluggable crypto backend
"""

[dependencies]
# Public dependencies (present in public API of the crate).
curve25519-dalek = "3.1.0"
elliptic-curve = "0.10.1"
rand_core = { version = "0.6.2", features = ["std"] }
zeroize = { version = "1.3.0", default-features = false }

# Enables `Serialize` / `Deserialize` implementation for most types in the crate.
serde = { version = "1.0", features = ["derive"], optional = true }

# Private dependencies (not exposed via public APIs).
base64ct = { version = "1.0", features = ["alloc"] }
byteorder = "1.4.3"
ff = { version = "0.10.0", default-features = false }
merlin = "3.0.0"
rand_chacha = "0.3.1"
smallvec = "1.6.1"
subtle = "2.4.0"

[dev-dependencies]
criterion = "0.3.4"
k256 = { version = "0.9.1", default-features = false, features = ["arithmetic", "std", "zeroize"] }
rand = "0.8.3"
serde_json = "1.0"
version-sync = "0.9.2"

[[bench]]
name = "basics"
path = "benches/basics.rs"
harness = false

[[bench]]
name = "sharing"
path = "benches/sharing.rs"
harness = false

[[example]]
name = "voting"
path = "examples/voting.rs"
required-features = ["serde"]

# Speed up `k256` arithmetic.
[profile.dev.package.k256]
opt-level = 2
