[package]
name = "elastic-elgamal"
version = "0.1.0"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT OR Apache-2.0"
repository = "https://github.com/slowli/elastic-elgamal"
keywords = ["elgamal", "encryption", "zero-knowledge"]
categories = ["cryptography"]
description = """\
Implementation of ElGamal encryption and related zero-knowledge proofs
with pluggable crypto backend
"""

[package.metadata.docs.rs]
all-features = true

[dependencies]
# Public dependencies (present in public API of the crate).
curve25519-dalek = { version = "3.1.0", default-features = false, features = ["alloc", "u64_backend"] }
elliptic-curve = { version = "0.11.5", features = ["sec1"] }
rand_core = { version = "0.6.2", default-features = false }
zeroize = { version = "1.3.0", default-features = false }

# Enables `Serialize` / `Deserialize` implementation for most types in the crate.
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }

# Private dependencies (not exposed via public APIs).
base64ct = { version = "1.0", default-features = false, features = ["alloc"] }
hashbrown = "0.11.0"
merlin = { version = "3.0.0", default-features = false }
rand_chacha = { version = "0.3.1", default-features = false }
subtle = { version = "2.4.0", default-features = false }

[dev-dependencies]
criterion = "0.3.4"
insta = "1.8.0"
k256 = { version = "0.10", default-features = false, features = ["arithmetic"] }
rand = "0.8.3"
serde_json = "1.0"
structopt = "0.3.25"
version-sync = "0.9.2"

[[bench]]
name = "basics"
path = "benches/basics.rs"
harness = false

[[bench]]
name = "sharing"
path = "benches/sharing.rs"
harness = false

[[example]]
name = "voting"
path = "examples/voting.rs"
required-features = ["serde"]

[[example]]
name = "range"
path = "examples/range.rs"
required-features = ["serde"]

[[test]]
name = "snapshots"
path = "tests/snapshots.rs"
required-features = ["serde"]

[features]
default = ["std"]
# Enables support of types from `std`, such as the `Error` trait.
std = []

# Speed up `k256` arithmetic.
[profile.dev.package.k256]
opt-level = 2
