name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Minimum supported Rust version.
  msrv: 1.85.0
  # Nightly Rust toolchain for checking no-std support.
  nightly: nightly-2025-11-02

jobs:
  build-msrv:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.msrv }}

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-msrv-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-msrv-cargo

      - name: Build library (default, serde)
        run: cargo build -p elastic-elgamal --lib --features serde
      - name: Build library (hashbrown, curve25519-dalek-ng)
        run: cargo build -p elastic-elgamal --lib --no-default-features --features hashbrown,curve25519-dalek-ng/u64_backend

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Install cargo-deny
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-deny
          version: "^0.18.5"

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      - name: Format
        run: cargo fmt --all -- --check --config imports_granularity=Crate --config group_imports=StdExternalCrate
      - name: Clippy (non-conflicting features)
        run: cargo clippy --workspace --features serde --all-targets -- -D warnings
      - name: Clippy (features=hashbrown)
        run: cargo clippy --lib --no-default-features --features hashbrown -- -D warnings
      - name: Clippy (features=hashbrown,serde,dalek)
        run: cargo clippy --lib --no-default-features --features hashbrown,serde,curve25519-dalek -- -D warnings
      - name: Clippy (features=std,serde,dalek-ng)
        run: cargo clippy --lib --no-default-features --features std,serde,curve25519-dalek-ng/u64_backend -- -D warnings
      - name: Check dependencies
        run: cargo deny --all-features check

      - name: Run tests
        run: cargo test --workspace --features serde --all-targets
      - name: Run doc tests
        run: cargo test --workspace --features serde --doc

      - name: Run voting (ristretto)
        run: cargo run -p elastic-elgamal --features serde --example voting -- --options 5 --votes 50 --talliers 3/4
      - name: Run voting (quadratic, k256)
        run: cargo run -p elastic-elgamal --features serde --example voting -- --qv k256
      - name: Run range
        run: cargo run -p elastic-elgamal --features serde --example range
      - name: Run equivalence
        run: cargo run -p elastic-elgamal --features serde --example equivalence

  build-nostd:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.nightly }}
          targets: thumbv7m-none-eabi

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-nostd-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-nostd-cargo

      - name: Build library
        run: cargo build --lib --no-default-features --features hashbrown,curve25519-dalek --target thumbv7m-none-eabi -Z avoid-dev-deps

  document:
    if: github.event_name == 'push'
    needs:
      - build
      - build-msrv
      - build-nostd
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.nightly }}

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-document-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-document-cargo

      - name: Build docs
        run: |
          cargo clean --doc && cargo rustdoc -p elastic-elgamal --features serde -- --cfg docsrs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
          single-commit: true
